<template>

  <div class = "logo">
    <img src = "../assets/mlogo.png" alt = "logo">
      <div class="row">
        <div class="col-md-12 services-section">
          <div class="btn-group-vertical">

        <ul><li><a href="#" class="show-btn1 btn"  data-bs-toggle="modal" data-bs-target="#UploadModal"><strong>Upload Music</strong></a></li></ul>
        <ul><li><a><button type="button" class="btn btn-lg" id="buttons"><strong>All Songs</strong></button></a></li></ul>
        <ul><li><a href="#" class="show-btn2 btn" data-bs-toggle="modal" data-bs-target="#CreateModal"><strong>Create Playlist</strong></a></li></ul>

        <ul>
        <li><a><button type="button" class="btn" id="buttons">Playlist 1</button></a></li>
        <li><a><button type="button" class="btn" id="buttons">Playlist 2</button></a></li>
        <li><a><button type="button" class="btn" id="buttons">Playlist 3</button></a></li>
        <li><a><button type="button" class="btn" id="buttons">Playlist 4</button></a></li>
        </ul>
            
          </div>
       </div>
    </div>
  </div>



    <div class="modal" id="UploadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Upload Music</h5>
          </div>

          <div class="modal-body"> 
            <div class="drop p-4 text-center">
               <p>Drag and Drop files here</p>
            </div> 
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-warning">Upload</button>
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        </div>
       </div>
      </div>
    </div>
      

    <div class="modal" id="CreateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create Playlist</h5>
          </div>
  
          <div class="modal-body p-4">
            <input type="text" placeholder="" class="form-control">
          </div>
  
          <div class="modal-footer">
            <button type="button" class="btn btn-warning">Create</button>
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

</template>


<script>
export default {
  name: 'menubar',
  props: {
    msg: String
  }
}
</script>

<style scoped>

.logo img {
  width: 160px;
  height: 60px;
  margin-left: 7px;
  margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#buttons {
    color: #ffffff;
    display: block;
    text-decoration: none;   
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: left;
    left: 5%;
    margin-top: 5%;
}

#buttons:hover {
    color: #FDD95A;
}

.show-btn1 {
    left: 5%;
    margin-top: 15%;
    color: #ffffff;
    display: block;
    text-decoration: none;   
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: left;
}

.show-btn1:hover {
    color: #FDD95A;
}

.show-btn2 {
    left: 5%;
    margin-top: 5%;
    color: #ffffff;
    display: block;
    text-decoration: none;   
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: left;
}

.show-btn2:hover {
    color: #FDD95A;
}

#UploadModal .modal-content {
    border:3px solid #ffffff;
}

#UploadModal .modal-title {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

#UploadModal .modal-header {
    background: #004D60;
}

#UploadModal .modal-body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 150px;
    color:#000000;
    background-color: #ffffff;
}

#UploadModal .modal-footer {
    background-color: #004D60;
    border-top: 0 none;
}


#CreateModal .modal-content {
    border:3px solid #ffffff;

}
#CreateModal .modal-title {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

#CreateModal .modal-header {
    background: #004D60;
}

#CreateModal .modal-body {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color:#000000;
    background-color: #adadad;
}

#CreateModal .modal-body .form-control {
    background-color:#ffffff;
    width: 100%;
    left: -1%;
}

#CreateModal .modal-footer {
    background-color: #004D60;
    border-top: 0 none;
}
</style>
