<template>

    <div class="Search">
      <div id = "navside">
        <a class="btn btn-light" data-bs-toggle="offcanvas" data-bs-target="#togglebar" role="button" aria-controls="offcanvasExample" >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-music-note-list" viewBox="0 0 16 16">
            <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
            <path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/>
            <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/>
            <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </a>
    </div>

      <div class="search-container">
        <input type="text" placeholder="Search" name="search">          
      </div>
    </div>


      <div class = "songs">
          <h1>All Songs</h1>  

            <table class="table table-responsive table-hover col-12">
              <thead>
                <tr>
                  <th scope="col-sm-1" style = "width:1%">#</th>
                  <th scope="col-sm-3" style = "width:1%">Title</th>
                  <th scope="col-sm-3" style = "width:1%">Artist</th>
                  <th scope="col-sm-3" style = "width:1%">Album</th>
                  <th scope="col-sm-1" style = "width:1%">Duration</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">1</td>
                  <td>Hello</td>
                  <td>Joy(RV)</td>
                  <td>Hello</td>
                  <td>3:39</td>
                </tr>
                <tr>
                  <td scope="row">2</td>    
                  <td>Kokobop</td>
                  <td>EXO</td>
                  <td>The War</td>
                  <td>3:11</td>
                </tr>
                <tr>
                  <td scope="row">3</td>
                  <td>Rose</td>
                  <td>D.O.</td>
                  <td>Empathy</td>
                  <td>2:33</td>
                </tr>
                  <tr>
                  <td scope="row">4</td>
                  <td>13</td>
                  <td>Lany</td>
                  <td>Lany</td>
                  <td>3:57</td>
                </tr>
                  <tr>
                  <td scope="row">5</td>
                  <td>Movie</td>
                  <td>BTOB</td>
                  <td>Feel'eM</td>
                  <td>3:59</td>
                </tr>
              </tbody>
            </table>
          </div>

            <div class = "playbutton">
              <img src="../assets/play.png" alt="play">
            </div>
          
           <div class = "backbutton">
              <img src= "../assets/back.png" alt="play1">
            </div>
          
             <div class = "nextbutton">
              <img src= "../assets/next.png" alt="play2">
            </div>
          
            <div class = "playline">
              <img src= "../assets/line.png" alt="line">
            </div>

            <div class = "start">
              <p>1:09</p>
            </div>
          
            <div class = "end">
              <p>2:33</p>
            </div>
          
            <div class = "playing">
              <p>Rose - D.O.</p>
            </div>


    <div class="offcanvas offcanvas-start" tabindex="-1" id="togglebar" aria-labelledby="offcanvasExampleLabel">
      
      <div class="sidebar">
          <img src="../assets/mlogo.png">
          
      <ul>
          <li><a href="#" class="show-btn1 " data-bs-toggle="modal" data-bs-target="#UploadModal">Upload Music</a></li>
      </ul>    

      <ul>
          <li><a href="#">All Songs</a></li>
      </ul>

      <ul>
          <li><a href="#" class="show-btn1"  data-bs-toggle="modal" data-bs-target="#CreateModal">Create Playlist</a></li>
      </ul>

      <ul>
          <li><a href="#">Playlist 1</a></li>
          <li><a href="#">Playlist 2</a></li>
          <li><a href="#">Playlist 3</a></li>
      </ul> 

      </div>
    
    </div>

</template>


<script>
export default {
  name: 'songs',
  props: {
    msg: String
  }
}
</script>


<style scoped>

.Search {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color:black;
    border-radius: 30px;
    width: 17%;
    font-family: 'Poppins', sans-serif;
}

.songs {
  margin-left: 0px;
}

h1 {
    padding-top: 50px;
    margin-left: 0px;
    color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: left;

}

.table {
    position: relative;
    border: 2px solid #ffffff;
    margin-top: 20px;
    width : inherit;

    
}

.table thead th {
    background: #003E4D; 
    height: 15px;  
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

}

.table tbody td {
   background: #001421;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: #FDD95A;
}

.playbutton img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 570px;
    left: 800px;
}
.playbutton :hover {
    border-radius: 21px;
    background-color: #003E4D;
        
}

.backbutton img {
    position: absolute;
    width: 33px;
    height: 28px;
    top: 570px;
    left: 650px;
}

.backbutton :hover {
    border-radius: 1px;
    background-color: #003E4D;
        
}

.nextbutton img {
    position: absolute;
    width: 33px;
    height: 28px;
    top: 570px;
    left: 960px;
}

.nextbutton :hover {
    border-radius: 1px;
    background-color: #003E4D;
        
}

.playline img {
    position: absolute;
    width: 600px;
    height: 20px;
    top: 535px;
    left: 525px;
}

.start p {
    margin-top: 103px;
    float: left;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-decoration: none;
    left: 30%;
    position: absolute;
}
  
.end p {
    margin-top: 103px;
    float: left;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-decoration: none;
    left: 74%;
    position: absolute;
}

.playing p {
    margin-top: 50px;
    float: left;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #FDD95A;
    text-decoration: none;
    left: 49%;
    position: absolute;
}


@media only screen and (min-width: 700px) {

  #navside {
    display: none;
}

  #togglebar {
    display: none;
}

}
@media only screen and (max-width: 700px) {

#navside {
    position:absolute;
    margin-left: -210px;
    margin-top: 0px;
    background-color: #002836;
  }

.table {
    margin-left: 50px;
}

#togglebar {
    width:200px;

}

.Search {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color:black;
    border-radius: 30px;
    width: 1%;
    font-family: 'Poppins', sans-serif;
    margin-left: 50%;
}

h1 {
    padding-top: 90px;
    margin-left: 40px;
    color:rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;

}

.playbutton img {
    position: absolute;
    width: 35px;
    height: 33px;
    top: 540px;
    left: 240px;
}
 
.backbutton img {
    position: absolute;
    width: 28px;
    height: 25px;
    top: 545px;
    left: 150px;
}
    
.nextbutton img {
    position: absolute;
    width: 28px;
    height: 25px;
    top: 545px;
    left: 340px;
}

.playline img {
    position: absolute;
    width: 300px;
    height: 15px;
    top: 510px;
    left: 100px;
}

.start p {
    margin-top: 55px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    left: 10%;
    position: absolute;
}
      
.end p {
    margin-top: 55px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    left: 83%;
    position: absolute;
}

.playing p {
    margin-top: 15px;
    float: left;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #FDD95A;
    text-decoration: none;
    left: 40%;
    position: absolute;
}

.sidebar {
    width: 200px;
    height: 100%;
    background: #002836;  
    padding: 100px 0px;
    position: fixed;
}
    
.sidebar img{
    width: 150px;
    height: 60px;
    padding: 0px;
    top: 3%;
    left: 13%;
    position: absolute;
    background-repeat: no-repeat;
}
    
.sidebar ul li {
    padding: 10px;
    margin-left: 0px;
    list-style-type: none;
}
    
.sidebar ul li a {
    color: #ffffff;
    display: block;
    text-decoration: none;   
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: left;
}
    
.sidebar ul li:hover a {
    color: #FDD95A;
}

}
</style>