<template>

    <div class = "app-container" id = "page">
        <nav class ="navbar navbar-expand-lg navbar-light" id="menubar">

    <div class = "container-fluid" id="mainpage">
          <menubar/> 
    </div>
        </nav>
    
    <div class = "container-fluid" id="display">
        <songs/> 
  </div>
  </div>

</template>

<script>
import menubar from './components/menubar.vue'
import songs from './components/songs.vue'

export default {
  name: 'App',
  components: {
   menubar ,
   songs
  }
}
</script>


<style>

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

#app {

  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  height: 100vh;
  width: 100%;
  background-color: #001421;
}

#menubar  {
  background-color: #002836;
  height: 100vh;
  width: 200px;
  display:flex;
  align-items: flex-start;
  text-align: left;
}

#page {
  display:flex;
}

#page > *:nth-child(1) {
  flex:1 1 30;
}

#page > *:nth-child(2) {
  flex:1 1 70;
}

@media only screen and (max-width: 700px) {
  #menubar{
    margin-left: -250px;
  }
}

</style>
