@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;  
}

.wrapper{
    display: flex;
    position: relative;
    background: #001421; 
}

.wrapper .menu {
    width: 200px;
    height: 100%;
    background: #002836;  
    padding: 130px 0px;
    position: fixed;
}

.wrapper .menu img {
    width: 150px;
    height: 60px;
    padding: 0px;
    top: 3%;
    left: 13%;
    position: absolute;
    background-repeat: no-repeat;
}

.wrapper .menu ul li {
    padding: 20px;
}    

.wrapper .menu ul li a {
    color: #ffffff;
    display: block;
    text-decoration: none;   
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: left;
}

.wrapper .menu ul li:hover a {
    color: #FDD95A;
}

#UploadModal .modal-content {
    border:3px solid #ffffff;
}

#UploadModal .modal-title {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

#UploadModal .modal-header {
    background: #004D60;
}

#UploadModal .modal-body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 150px;
    color:#000000;
    background-color: #ffffff;
}

#UploadModal .modal-footer {
    background-color: #004D60;
    border-top: 0 none;
}


#CreateModal .modal-content {
    border:3px solid #ffffff;

}
#CreateModal .modal-title {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

#CreateModal .modal-header {
    background: #004D60;
}

#CreateModal .modal-body {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color:#000000;
    background-color: #adadad;
}

#CreateModal .modal-body .form-control {
    background-color:#ffffff;
    width: 100%;
    left: -1%;
  
}

#CreateModal .modal-footer {
    background-color: #004D60;
    border-top: 0 none;
}


.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .player {
    padding-top: 40px;
    padding-left: 20px;
    height: 66px;
    color: #ffffff;
}

.wrapper .main_content .songs {
    margin: 10px;
    color: #ffffff;
    line-height: 35px;
    margin-top: 40px;
    height: 605px;
}

.wrapper .main_content .songs div {
    margin-bottom: 10px;
}


.search input[type=text] {
    text-align: center;
    padding: 40px;
    font-size: 150px;
    font-weight: 600;
    color:black;
        
    border: 2px solid #ffffff;
    float: left;
    width: 100%;
    background: #ffffff; 
    font-family: 'Poppins', sans-serif;
}
      
input {
    margin: auto;
    width: 22%;
    padding: 10px 25px;
    border: 1px solid rgb(255, 255, 255);
    background: #ffffff; 
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    left: 1%;
    top: -10%;
}

.search:focus {
    outline: none;
}

h1 {
    padding-top: 50px;
    margin-left: 10px;
    padding-bottom: 20px;
    color: #ffffff;
}


.table {
    border: 2px solid #ffffff;
    margin-left: 0px;

}

.table thead th {
    background: #003E4D; 
    height: 10%;  
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;   
}

.table tbody td {
   background: #001421;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: #FDD95A;
}


.playbutton img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 650px;
    left: 800px;
}

.playbutton :hover {
    border-radius: 21px;
    background-color: #003E4D;
        
}


.previousbutton img {
    position: absolute;
    width: 38px;
    height: 33px;
    top: 660px;
    left: 650px;
}

.previousbutton :hover {
    border-radius: 1px;
    background-color: #003E4D;
        
}


.nextbutton img {
    position: absolute;
    width: 38px;
    height: 33px;
    top: 660px;
    left: 960px;
}

.nextbutton :hover {
    border-radius: 1px;
    background-color: #003E4D;
        
}


.playline img {
    position: absolute;
    width: 600px;
    height: 25px;
    top: 610px;
    left: 525px;
}


.start p {
    margin-top: 56px;
    float: left;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-decoration: none;
    left: 30%;
    position: absolute;
}
  

.end p {
    margin-top: 56px;
    float: left;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-decoration: none;
    left: 75%;
    position: absolute;
}

.playing p {
    margin-top: 15px;
    float: left;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #FDD95A;
    text-decoration: none;
    left: 47%;
    position: absolute;
}


@media only screen and (min-width: 1000px) {

  #navside {
    display: none;
}

  #togglebar {
    display: none;
}

}


@media only screen and (max-width: 1000px) {
  #navside {
    position:absolute;
    margin-left: -180px;
    margin-top: 38px;
  }

.wrapper .menu {
    margin-left: -250px;
}

.wrapper .menu {
    margin-left: 0;
    display: none;
}     
    

.search input[type=text] {
    text-align: center;
    padding: 40px;
    font-size: 130px;
    font-weight: 600;
    color:black;    
    border: 2px solid #ffffff;
    float: left;
    width: 100%;
    background: #ffffff; 
    font-family: 'Poppins', sans-serif;
}
        
input {
    margin: auto;
    width: 25%;
    padding: 10px 25px;
    border: 1px solid rgb(255, 255, 255);
    background: #ffffff; 
    border-radius: 6px;
    box-sizing: border-box;
    position: relative;
    left: 70%;
    top: -10%;
}
  
.search:focus {
    outline: none;
}


.wrapper .main_content .player {
    margin-left: -220px;     
}
    
.wrapper .main_content .songs {
    height: 516px;
}
    
.table {
    margin-left: -130px;
}
    
h1 {
    margin-left: -120px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
}
    

.playbutton img {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 567px;
    left: 240px;
}
 

.previousbutton img {
    position: absolute;
    width: 30px;
    height: 26px;
    top: 570px;
    left: 140px;
}
    

.nextbutton img {
    position: absolute;
    width: 30px;
    height: 26px;
    top: 572px;
    left: 360px;
}


.playline img {
    position: absolute;
    width: 300px;
    height: 15px;
    top: 538px;
    left: 100px;
}

.start {
    margin-top: -35px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    left: 10%;
    position: absolute;
}
      
.end p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    left: 85%;
    position: absolute;
}


.playing p {
    margin-top: -2px;
    float: left;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #FDD95A;
    text-decoration: none;
    left: 40%;
    position: absolute;
}


#togglebar {
    width:200px;
}  

.menubar {
    width: 200px;
    height: 100%;
    background: #002836;  
    padding: 130px 0px;
    position: fixed;
}
    
.menubar img{
    width: 150px;
    height: 60px;
    padding: 0px;
    top: 3%;
    left: 13%;
    position: absolute;
    background-repeat: no-repeat;
}
    
.menubar ul li {
    padding: 20px;
}
    
.menubar ul li a {
    color: #ffffff;
    display: block;
    text-decoration: none;   
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: left;
}
    
.menubar ul li:hover a{
    color: #FDD95A;
}

}

  
  
  























