@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Poppins:wght@600&family=Viga&family=Volkhov:wght@700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin:0;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    margin: 0 0 10px;
    position: relative;
    
}
.section-title h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 20%;
    background-color: #a77554;
    bottom: 0px;
    
}
.text-center{
    text-align: center!important;
}
.text-left{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}



header{
    position: fixed;
    left: 0px;
    right: 0px;
    padding: 0px 15px;
    z-index: 10;
    background-color: #f1eeec;
    
}
header .row{
    justify-content: space-between;
    align-items: center;

}
@keyframes fixHeader{
    0%{
        transform: translateY(-100%);opacity: 0;
    }
    100%{
        transform: translateY(0%);
    }
}

header .group-org a{
     text-decoration: none;
     font-size: 30px;
     font-weight: 500;
     color: #000000;
     position: relative;
     font-family: 'Volkhov', serif;
     left: -45%;

}
header.fixed .group-org a{
    color: black;
}
header .group-org img{
    margin-top: -.5%;
	float: left;
	width: 50px;
	height: 50px;
    padding: 0px;
    left:3%;
    position: absolute;
}

header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li{
    display: inline-block;
    margin-left: 20px;
    
}
header .navbar ul li a{
    font-size: 25px;
    text-decoration: none;
    line-height: 60px;
    color: #000000;
    display: inline-block;
    font-weight: 600;
    position: relative;
    font-family: 'Volkhov', serif;
    right: -100%;
    left: 100%;
    word-spacing: 5px;

}
header.fixed .navbar ul li a{
    color: white;
}

header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #734627;
    width: 0%;
    position: absolute;
    left: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header.fixed .navbar ul li a::before{
    background-color: white;
}
header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
}



.history {
    
    width: 300px;
    height: 55px;
    border-radius: 5px;
    font-family: 'Volkhov', serif;
    color: white;
    border: 4.5px solid white;
    border-radius: 25px;
    padding: 5px 28px;
    text-align: center;
    vertical-align: middle;
    display: inline;
    font-size: 30px;
    font-weight: 500;
    transition: all .5s ease;
    background-color: #3A0D0D   ;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    
}

.history {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    float: right;
    top: 140px;
    right: 200px;

}

.history:hover {
    background-color:#c20303;
    color: white;
    opacity: 0.9;
}



.olympians {
    width: 300px;
    height: 55px;
    border-radius: 5px;
    font-family: 'Volkhov', serif;
    color: white;
    border: 4.5px solid white;
    border-radius: 25px;
    padding: 5px 28px;
    text-align: center;
    vertical-align: middle;
    display: inline;
    font-size: 30px;
    font-weight: 500;
    transition: all .5s ease;
    background-color: #3A0D0D   ;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    
}

.olympians {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    float: right;
    top: 250px;
    right: 200px;

}
.olympians:hover{
    background-color:#c20303;
    color: white;
    opacity: 0.9;
}



.titans {
    width: 300px;
    height: 55px;
    border-radius: 5px;
    font-family: 'Volkhov', serif;
    color: white;
    border: 4.5px solid white;
    border-radius: 25px;
    padding: 5px 28px;
    text-align: center;
    vertical-align: middle;
    display: inline;
    font-size: 30px;
    font-weight: 500;
    transition: all .5s ease;
    background-color: #3A0D0D   ;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    
}

.titans {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    float: right;
    top: 350px;
    right: 200px;

}

.titans:hover{
    background-color:#c20303;
    color: white;
    opacity: 0.9;
}



.gods {
    width: 300px;
    height: 55px;
    border-radius: 5px;
    font-family: 'Volkhov', serif;
    color: white;
    border: 4.5px solid white;
    border-radius: 25px;
    padding: 5px 28px;
    text-align: center;
    vertical-align: middle;
    display: inline;
    font-size: 30px;
    font-weight: 500;
    transition: all .5s ease;
    background-color: #3A0D0D   ;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    
}

.gods {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    float: right;
    top: 450px;
    right: 200px;
}

.gods:hover{
    background-color:#c20303;
    color: white;
    opacity: 0.9;
}




.myths{
    width: 300px;
    height: 55px;
    border-radius: 5px;
    font-family: 'Volkhov', serif;
    color: white;
    border: 4.5px solid white;
    border-radius: 25px;
    padding: 5px 28px;
    text-align: center;
    vertical-align: middle;
    display: inline;
    font-size: 30px;
    font-weight: 500;
    transition: all .5s ease;
    background-color: #3A0D0D   ;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    
}

.myths {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    float: right;
    top: 550px;
    right: 200px;
}

.myths:hover{
    background-color:#c20303;
    color: white;
    opacity: 0.9;
}




.main {
    min-height: 100vh;
    background-image: url("https://static.wikia.nocookie.net/greek-myth933/images/a/a4/Olympus.jpg/revision/latest?cb=20160516102252");
    background-size: cover;
    background-position: center;
    padding: 0px;
}

.main .full-screen{
    min-height: 100vh;
}

.main .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: -60%;
    margin-top: -10%;
    
}

.main .home-content .block h6{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-shadow: 2px 3px #0c0c17;
    
}
.main .home-content .block h1{
    color: #3A0D0D;
    font-size: 140px;
    font-weight: 500;
    margin: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#ffffff;
    text-shadow: 2px 3px #ffffff;
    font-family: 'Pirata One', cursive;
    letter-spacing: 8px;
    left: -60%;
    margin-top: 15%;

}

.main .home-content .block h3{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:#1f1e1e;
    top: 1000px;
    left: 200px;
    font-family: 'Poppins', sans-serif;
}

form.search input[type=text]{
    text-align: center;
    padding: 100px;
    font-size: 50px;
    font-weight: 500;
    border: 2px solid #f8f8f8;
    float: left;
    width: 100%;
    background: #aaaaaa; 
}

input {
    margin: auto;
    width: 35%;
    padding: 8px 25px;
    border: 3px solid rgb(7, 7, 7);
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    left: 10%;
  }




.facts{
    padding: 60px 15px;
    background-color: white;
    background-image: url("https://t4.ftcdn.net/jpg/03/86/85/27/360_F_386852702_H0eK4fnnTxSYKD2NJOLz1NBPU5PhZ2lh.jpg");
    background-size: 99% 99%;
    background-position: center;
    background-repeat: no-repeat;

}

.facts .section h1{
    font-size: 50px;
    font-weight: 500;
    color:#910000;
    top: 200px;
    right: 80%;
    font-family: 'Volkhov', serif;
    letter-spacing: 10px;

}
.facts .button{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin: 0;
    position: absolute;
    top: 165%;
    left: 60%;

}
.facts .button a{
    border-radius: 8px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(53, 5, 5);
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    transition: all .5s ease;
    background-color: white;
    position: relative;

}
.facts .button a:hover{
    background-color:rgb(141, 2, 2);
    color: white;
}

.facts .history-fact .img{
    flex: 0 0 33.33%;
    max-width: 33.33%;

}

.facts .history-fact .img img{
    width: 400px;
    height: 400px;
    display: block;
}

.facts .history-fact .text{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 50px;  
}
.facts .history-fact .text h4{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 15px;
    color: black;
    text-align: center;
    
}

.facts .history-fact .text h5{
    font-size: 21px;
    font-weight: 600;
    margin: 0 0 10px;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}




.twelve{
    padding: 60px 15px;
    background-color: white;
    background-image: url("https://t4.ftcdn.net/jpg/03/86/85/27/360_F_386852702_H0eK4fnnTxSYKD2NJOLz1NBPU5PhZ2lh.jpg");
    background-size: 99% 99%;
    background-position: center;
    background-repeat: no-repeat;

}

.twelve .section h1{
    font-size: 50px;
    font-weight: 500;
    color:#910000;
    top: 200px;
    right: 80%;
    font-family: 'Volkhov', serif;
    letter-spacing: 10px;

}
.twelve .button{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin: 0;
    position: absolute;
    top: 245%;
    left: 60%;

}
.twelve .button a{
    border-radius: 8px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(53, 5, 5);
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    transition: all .5s ease;
    background-color: white;
    position: relative;
}

.twelve .button a:hover{
    background-color:rgb(141, 2, 2);
    color: white;
}

.twelve .twelve-olympians .img{
    flex: 0 0 33.33%;
    max-width: 33.33%;

}

.twelve .twelve-olympians .img img{
    width: 400px;
    height: 400px;
    display: block;
}

.twelve .twelve-olympians .text{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;  

}

.twelve .twelve-olympians .text h4{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 20px;
    color: black;
    text-align: center;
    
}

.twelve .twelve-olympians .text h5{
    font-size: 21px;
    font-weight: 600;
    margin: 0 0 20px;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}



.titan{
    padding: 75px 20px;
    background-color: white;
    background-image: url("https://t4.ftcdn.net/jpg/03/86/85/27/360_F_386852702_H0eK4fnnTxSYKD2NJOLz1NBPU5PhZ2lh.jpg");
    background-size: 99% 99%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 8%;;

}

.titan .section h1{
    font-size: 50px;
    font-weight: 500;
    color:#910000;
    top: 200px;
    right: 80%;
    font-family: 'Volkhov', serif;
    letter-spacing: 10px;

}

.titan .button{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin: 0;
    position: absolute;
    top: 338%;
    left: 60%;

}

.titan .button a{
    border-radius: 8px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(53, 5, 5);
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    transition: all .5s ease;
    background-color: white;
    position: relative;
}

.titan .button a:hover{
    background-color:rgb(141, 2, 2);
    color: white;
}

.titan .the-titans .img{
    flex: 0 0 33.33%;
    max-width: 33.33%;

}
.titan .the-titans .img img{
    width: 400px;
    height: 400px;
    display: block;
}

.titan .the-titans .text{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 20px;

}
.titan .the-titans .text h4{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 20px;
    color: black;
    text-align: center;
     
}

.titan .the-titans .text h5{
    padding: 0px 8px;
    font-size: 21px;
    font-weight: 600;
    margin: 0 0 20px;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}




.god{
    background-color: #ffffff;
    padding: 100px 1px;
    background-image: url("https://t4.ftcdn.net/jpg/03/86/85/27/360_F_386852702_H0eK4fnnTxSYKD2NJOLz1NBPU5PhZ2lh.jpg");
    background-size: 99% 99%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 8%;;
}

.god .section h1{
    font-size: 50px;
    font-weight: 500;
    color:#910000;
    top: 200px;
    right: 80%;
    font-family: 'Volkhov', serif;
    letter-spacing: 10px;

}

.god .section p{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: black;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.god .greek-gods{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.god .greek-gods .name{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 8px;
}

.god .greek-gods .name .inside-text{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: black;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    top: 10%;
}

.god .greek-gods .name img{
    width: 100%;
    display: block;
    border-radius: 25px;
    
}

.god .greek-gods .name .overlay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: all .5s ease;
    border-radius: 25px;
}

.god .greek-gods .name:hover .overlay{
    opacity: 3;
    cursor: pointer;
}

.god .greek-gods .name .overlay h4{
    margin-top: 15px;
    font-size: 37px;
    color: #e5ecf8;
    font-weight: 600;
}

.god .greek-gods .name:hover .overlay h4{
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}




.myth{
    background-color: #ffffff;
    padding: 100px 1px;
    background-image: url("https://t4.ftcdn.net/jpg/03/86/85/27/360_F_386852702_H0eK4fnnTxSYKD2NJOLz1NBPU5PhZ2lh.jpg");
    background-size: 99% 99%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 8%;;
}

.myth .section h1{
    font-size: 50px;
    font-weight: 500;
    color:#910000;
    top: 200px;
    right: 80%;
    font-family: 'Volkhov', serif;
    letter-spacing: 10px;

}

.myth .section p{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: black;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.myth .mythological{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.myth .mythological .mytho{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 8px;
}

.myth .mythological .mytho .inside-text{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: black;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    top: 10%;
}

.myth .mythological .mytho img{
    width: 100%;
    display: block;
    border-radius: 25px;
    
}

.myth .mythological .mytho .overlay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: all .5s ease;
    border-radius: 25px;
}

.myth .mythological .mytho:hover .overlay{
    opacity: 3;
    cursor: pointer;
}

.myth .mythological .mytho .overlay h4{
    margin-top: 15px;
    font-size: 37px;
    color: #e5ecf8;
    font-weight: 600;
}

.myth .mythological .mytho .overlay h4{
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}



.authors{
    padding: 75px 20px;
    background-color: white;
    background-image: url("https://www.teahub.io/photos/full/236-2360216_illustration.jpg");
    background-size: 99% 99%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 8%;;

}

.authors .section h1{
    font-size: 50px;
    font-weight: 500;
    color:#ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#111111;
    top: 200px;
    right: 80%;
    font-family: 'Volkhov', serif;
    letter-spacing: 10px;

}

.authors .about-us .img{
    flex: 0 0 33.33%;
    max-width: 33.33%;

}

.authors .about-us .img img{
    width: 400px;
    height: 400px;
    display: block;
}

.authors .about-us .text{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 40px;

}
.authors .about-us .text h4{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 20px;
    color: rgb(235, 235, 235);
    text-align: center;
    
}

.authors .about-us .text h5{
    padding: 0px 8px;
    font-size: 21px;
    font-weight: 600;
    margin: 0 0 20px;
    color: rgb(233, 233, 233);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}


footer{

    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("https://wallpapercave.com/wp/jnJoU1n.jpg");
    background-size: cover;
    background-size: 98% 98%;
    min-height: 100%;

}

footer .footer a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    color: #470202;
    position: relative;
    font-family: 'Volkhov', serif;
    letter-spacing: .5px;
    left: 39.5%;
    text-align: center;
}

footer .social .icon{
    position: relative;
    height: 40px;
    padding-right: 20px;
    padding-top: -20px;
    cursor: pointer;

}

footer .social{
    flex: 0 0 100%;
    max-width: 500%;
    text-align: center;
    padding-top: 10px;
}

.copyright{
    background-color: #232426;
    border-top: 1px solid #1d1d27;
    padding: 15px;
}

.copyright p{
    color: #cacaca;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}